body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
  }
  * {
    /* border: 1px solid red; */
    box-sizing: border-box;
  }
  input,
  textarea {
    border: none;
    outline: none;
  }
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }
  ul,
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
    font-weight: 400;
  }
  section {
    position: relative;
  }
  p {
    margin: 0;
    font-weight: 400;
  }
  a {
    color: #fff;
    font-size: 15px;
    line-height: 20px
  }
  a:hover {
    text-decoration: none;
    color: grey;
    transition: all 0.5s ease;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  /* start header */
  .header{
    padding: 24px 0;
    background-color: #000;
  }
  .menu-item{
    display: block;
    text-decoration: none;
    padding: 0 16px;
  }
  .menu-item-bus{
    font-size: 13px;
    line-height: 20px;
    margin-right: 40px;
    text-decoration: none;
  }
  .btn-header{
    display: block;
    border-radius: 14px;
    width: 151px;
    color: #000;
    font-size: 16px;
    background: #fff;
    padding: 5px 0;
    transition: all 0.5s ease;
    margin-left: 15px;
  }
  .btn-header:hover{
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
    border: 1px solid #fff;
  }
  /* end header */
    /*start studios  */
    .studios{
        padding: 400px 0 40px;
        background: url(../img/main-bg.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
    }
    .studios-ap{
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #c0c0c0;
        text-align: center;
    }
    .studios-title{
        font-size: 54px;
        line-height: 59px;
        color: #fff;
        text-align: center;
        margin: 1px 0 14px;
    }
    .studios-desc{
        font-size: 14px;
        line-height: 20px;
        max-width: 580px;
        text-align: center;
        margin: 0 auto;
        color: #c0c0c0;
    }
    .parametres{
      margin-top: 15px;
      background: #000;
    }
    .img-param{
      width: 16px;
      height: 16px;
    }
    .img-param3{
      width: 32px;
      height: 16px;
    }
    .img-param4{
      width: 10px;
      height: 16px;
    }
    .param-digit{
      font-size: 12px;
      line-height: 12px;
      color: #fff;
      margin:0 5px;
    }
    /* end studios */

    /* work */
    .work{
      padding: 120px 0 100px;
      background: #000;
    }
    .do-title{
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      color: #fff;
    }
    .do-desc{
      font-size: 23px;
      line-height: 30px;
      text-align: center;
      color: #c0c0c0;
      margin-bottom: 42px;
    }
    .work-title{
      font-size: 14px;
      text-transform: uppercase;
      line-height: 20px;
      color: #fff;
    }
    .work-img{
      background: url(../img/phone.jpg) no-repeat center center;
    } 
    .work-img-2{
      background: url(../img/arc.jpg) no-repeat center center;
    }
    .work-img-3{
      background: url(../img/drone.jpg) no-repeat center center;
      margin-top: 16px;
    }
    .work-img-4{
      background: url(../img/wild.jpg) no-repeat center center;
      margin-top: 16px;
    }
    .work-img, .work-img-2, .work-img-3, .work-img-4{
      padding: 420px 0 30px 30px;
      max-width: 576px;
      max-height: 600px;
    }
    .work-desc{
      font-size: 14px;
      line-height: 20px;
      color: #c0c0c0;
      max-width: 500px;
      margin: 12px 0;
    }
    .work-btn{
      max-width: 143px;
      padding: 10px;
      letter-spacing: 0.4px;
      color: #000;
      font-size: 15px;
      line-height: 20px;
      transition: all 0.5s ease;
      display: block;
      background-color: #fff;
      border-radius: 14px;
      border: 1px solid transparent ;
    }
    .work-btn:hover{
      color: #fff;
      transition: all 0.5s ease;
      background-color: #000;
      border: 1px solid #fff;
    }
    /* end work */
    /* start fuji */
    .fuji{
      background: url(../img/bg-mountain.jpg) no-repeat center center;
      padding: 260px 0 40px;
      background-size: cover;
    }
    .fuji-title{
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #fff;
      margin-left: auto;
      max-width: 298px;
    }
    .fuji-desc{
      font-size: 14px;
      line-height: 20px;
      color: #c0c0c0;
      max-width: 298px;
      margin-left: auto;
    }
    .parametres-fuji{
      margin-top: 200px;
    }
/* end fuji */
/* start tools */
.tools-cage{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #c0c0c0;
}
.tools{
  background: #000 url('../img/aparat.jpg') no-repeat center right / 50%;
}
.tools-info{
  padding: 60px 40px;
  margin: 60px;
}
.tools-title{
  font-size: 28px;
line-height: 32px;
color: #fff;
margin-top: 5px;
}
.tools-desc{
  font-size: 14px;
line-height: 20px;
color: #fff;
max-width: 514px;
margin: 14px 0 20px;
}
.tools-btn{
  display: block;
  border:1px solid transparent ;
  border-radius: 14px;
  max-width: 152px;
  padding: 10px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  transition: all 0.5s ease;
}
.tools-btn:hover{
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.5s ease;
}
/* end tools */
/* start leaf */
.leaf{
  background: url(../img/bg-list.jpg) no-repeat center center;
  background-size: cover;
  padding: 260px 0 20px;
}
.leaf-info{
  max-width: 273px;
  margin-left: auto;
}
.leaf-title{
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.leaf-desc{
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin: 5px 0 200px;
}
/* end leaf */

/* clients */
.clients{
  padding: 100px 0;
  background: #000;
}
.clients-title{
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
.clients-desc{
  font-size: 24px;
line-height: 30px;
text-align: center;
color:#c0c0c0;
margin: 10px 0 45px;
}
.img-client{
  margin-right: 110px;
}
.img-client:last-child{
  margin-right: 0;
}
.clients-img{
  max-width: 1168px;
}
/* end clients */
/* start star  */
.star{
  background: url(../img/mount-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 260px 0 60px;
}
.star-title{
  font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #fff;
margin-left: auto;
max-width: 263px;
}
.star-desc{
  font-size: 14px;
line-height: 20px;
color: #c0c0c0;
margin: 5px 0 210px;
max-width: 263px;
margin-left: auto;
}
/* end star */

/* start help */
.help{
  padding: 113px 0 108px;
  background: #000;
}
.help-title{
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  max-width: 571px;
  color: #fff;
  margin: 0 auto;
}
.help-desc{
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
  text-align: center;
  margin: 15px 0;
}
.help-btn{
  border: 1px solid transparent;
  border-radius: 14px;
  max-width: 120px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: center;
  display: block;
  padding: 10px 10px;
  margin: 0 auto;
  background: #fff;
}
/* end help */

/* footer */
.footer{
  background: #000;
  padding: 100px 0 80px;
}
.footer-desc{
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
}
.menu-title{
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin-bottom: 15px;
}
.footer-item-bus{
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-item{
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  margin-top: 10px;
  text-decoration: none;
}
.business{
  margin-right: 50px;
}
.top-line {
  display: block;
  width: 1170px;
  background: #fff;
  height: 2px;
  margin: 36px 0;
}
.letter-title{
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
text-transform: uppercase;
}
.letter-desc{
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
}
.wrapper_input {
  width: 458px;
  height: 40px;
  border-radius: 11px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: #fff;
}
.footer-btn {
  width: 63px;
  height: 30px;
  background: #000;
  border-radius: 11px;
  color: #fff;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
input {
  border: none;
  background: none;
  width: calc(100% - 84px);
  height: 100%;
  text-indent: 10px;
}
.bottom-line{
  display: block;
  width: 1170px;
  background: #fff;
  height: 2px;
  margin: 36px 0 56px;
}
.licence{
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}
.footer-link{
  margin-right: 20px;
  display: block;
  cursor: pointer;
}
.footer-link-last{
  display: block;
  cursor: pointer;
  margin-right: 0;
}
i{
  color: #fff;
  font-size: 24px;
}
/* footer */


@media (max-width:992px) {
    .header-hidden{
        display: block;
        padding: 26px 0;
        background-color: #000;
    }
    .wrapper_input {
      max-width: 339px;
      /* margin: 15px auto; */
  }
  .letter-desc, .letter-title, .licence{
    text-align: center;
  }
  .social-links{
    margin: 15px auto;
  }
  .footer{
    padding: 40px 0;
  }
    .help{
      padding: 95px 0 86px;
    }
    .img-client {
      margin-right: 22px;
  }
  .clients-img {
    max-width: 695px;
}
.star{
  padding: 112px 0 37px
}
.star-desc{
  margin-bottom: 79px;  
}
    .leaf-desc{
      margin-bottom: 94px;
    }
    .leaf{
      padding-top: 152px;
    }
    .tools-info{
      margin: 1px;
    }
    .tools-desc {
      font-size: 12px;
      margin: 10px 0 15px;
    }
    .studios{
      padding: 270px 0 20px;
    }
    .parametres-fuji {
      margin-top: 130px;
  }
  .fuji{
    padding: 184px 0 21px;
  }
    .parametres{
      margin-top: 26px;
    }
    .header{
        display: none;
    }
    .menu-list-hidden a{
        text-decoration: none;
        font-size: 13px;
        color: #fff;
    }
    .menu-list-hidden a:hover{
        color: gray;
    }
    .nav{
        display: none;
    }
    .logo-main{
        display: none;
    }
    .menu-btn{
        justify-content: flex-end;
    }
    .menu{
        display: block;
    }
  }
  .work-img, .work-img-2, .work-img-3, .work-img-4 {
    max-width: 576px;
    max-height: 600px;
    padding: 320px 0px 30px 30px;
}
.work {
  padding: 57px 0 63px;
  background: #000;
}
  @media (max-width:768px) {
    .studios {
      padding: 191px 0 20px;
  }
  .star{
    padding: 79px 0 49px;
  }
  .top-line, .bottom-line{
      max-width: 495px;
      margin: 20px auto;
  }
 
  .star-desc{
    margin-bottom: 34px;
  }
  .studios-title{
    font-size: 45px;
  }
  .studios-ap, .studios-desc{
    font-size: 13px;
  }
  .clients-title{
    font-size: 25px;
    line-height: 35px;
  }
  .clients-desc{
    font-size: 15px;
    line-height: 20px;
  }
  .clients{
    padding: 32px 0;
  }
  .img-client{
    width: 58px;
  }
  }


  @media (max-width:568px) {
    .studios {
      padding: 71px 0 20px;
  }
  .footer {
    padding: 15px 0;
}   
  .help-title{
    font-size: 30px;
    line-height: 30px;
  }
  .help-desc{
    font-size: 20px;
    line-height: 20px;
  }
  .help{
    padding: 69px 0 62px;
  }
  .star {
    padding: 36px 0 24px;
}
.star-desc{
  margin-bottom: 23px;
}
  .clients-title{
    font-size: 25px;
    line-height: 35px;
  }
  .clients-desc{
    font-size: 15px;
    line-height: 20px;
  }
  .clients{
    padding: 32px 0;
  }
  .img-client{
    width: 58px;
  }
  .leaf-desc {
    margin-bottom: 35px;
}
.leaf {
  padding-top: 71px;
}
  .tools{
    background: #000 url('../img/parat.jpg') no-repeat center right / 55%;
  }
  .fuji-title{
    max-width: 178px;
  }
  .parametres-fuji {
    margin-top: 50px;
}
  .work-img, .work-img-2, .work-img-3, .work-img-4 {
    max-width: 576px;
    max-height: 347px;
    padding: 170px 0px 15px 16px
  }
  .work-title{
    margin-bottom: 10px;
  }
  .tools-desc{
    max-width: 113px;
    font-size: 12px;
    line-height: 14px;
  }
  .tools-title{
    font-size: 22px;
    line-height: 22px;
  }
  .tools-cage{
    font-size: 12px;
    line-height: 14px;
  }
  .parametres-tools {
    margin-top: -112px;
}
.tools-info{
  padding: 28px 15px;
}
  .work {
    padding: 25px 0 41px;
  }
  .do-desc{
    margin-bottom: 30px;
    font-size: 18px;
  }
  .do-title{
    font-size: 32px;
  }
  .work-desc{
    display: none;
  }
  }
  @media (max-width:400px) {
    .studios-title {
      font-size: 35px;
  }
  .footer-item, .footer-item-bus{
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
  }
  .footer-desc{
    margin-top: 40px;
    line-height: 15px;

  }
  .help-title{
    font-size: 20px;
  }
  .top-line, .bottom-line{
    max-width: 350px;
  }
  .letter-title{
    margin-bottom: 6px;
  }
  .help-desc{
    font-size: 14px;
    margin: 10px 0;
  }
  .help{
    padding: 41px 0 34px;
  }
  .img-client{
    width: 55px;
  }
  .star-desc{
    display: none;
  }
  .star-title{
    margin: 0 auto;
  }
  .parametres-star{
    margin-top: 30px;
  }
  .clients-title{
    line-height: 20px;
  }
  .clients-desc{
    margin-bottom: 17px;
  }
  .tools-desc{
    max-width: 99px;
  }
.tools-btn{
  padding: 3px;
}
  .do-desc {
    margin-bottom: 16px;
    font-size: 16px;
}
.fuji-desc{
  display: none;
}
.leaf-desc {
  display: none;
}
.leaf-title{
  margin-bottom: 20px;
  text-align: center;
}
.param-digit-leaf{
  font-size: 11px;
}
.work-img{
  margin-bottom: 16px;
}
.do-title{
  line-height: 30px;
  font-size: 28px;
}
.tools-desc{
  display: none;
}
.tools-title{
  margin: 15px 0 16px;
}
  }

@media (max-width:350px) {
  .img-client {
    width: 40px;
}
.clients-desc{
  line-height: 10px;
}
.clients-title{
  font-size: 20px;  
}
.wrapper_input{
  max-width: 270px;
}
.top-line, .bottom-line{
  max-width: 285px;
}
}

  @media (max-width:300px) {
    .tools{
      background: #000 url('../img/aparat.jpg') no-repeat center right / 50%;
    }
    .leaf {
      padding-top: 42px;
  }
  .help-title{
    font-size: 19px;
    line-height: 22px;
  }
  .wrapper_input{
    max-width: 227px;
  }
  .top-line, .bottom-line{
    max-width: 222px;
  }
  .footer-desc{
    font-size: 12px;
  }
  .help-desc{
    font-size: 12px;
    margin: 10px 0;
  }
  .help{
    padding: 30px 0;
  }
    .img-client {
      width: 34px;
  }
    .fuji {
      padding: 115px 0 21px;
  }
    .do-desc{
      font-size: 14px;
      margin-top: 6px;
    }
    .studios {
      padding: 30px 0 20px;
  }
  .studios-ap{
    color: #000;
  }
   .studios-title{
    font-size: 30px;
    line-height: 40px
   } 
   .studios-desc{
    line-height: 15px;
   }
   .star{
    padding: 50px 0 56px;
   }
  
  }

  /* Гамбургер иконка */
.menu-btn {
	width: 20px;
	height: 20px;
	position: relative;
	z-index:2;
	overflow: hidden;
  margin-left: auto;
}

.menu-btn span {
	width: 20px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.menu-btn{
    z-index: 26;
}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
	padding: 15px;
    background: #000;
	transform: translateX(-100%);
	transition: transform 0.5s;
    z-index: 25;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}
